<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Todo.io</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1 th:text="${book.name}">Name of the book</h1>
        <h2>Current tasks</h2>

        <p>
            <span th:text="${book.title}">Title</span>
            <span th:text="${book.author}">Author</span>
            <span th:text="${book.ISBN}">ISBN</span>
            <span th:text="${book.tags}">Tags</span>
            <span th:text="${book.time}">Date</span>
            <a href="/books">Back</a>
            <a name="id" type="hidden">${book.id}</a>
        </p>

    </body>
</html>