<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>(Book)marks</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2>TODO</h2>
        <p>Tämä olisi pääsivu -> lisätkää linkit "lisää" - sivulle johon allaoleva formi menee</p>
        <p>Sekä toinen linkki "selaa" -> joissa nähtäisiin "lisää" - sivulla lisätyt kirjat</p>
        <p>siis Spark.get("/selaa) ja Spark.get("/lisaa") sekä Spark.post("/lisaa")</p>
        <ul style="list-style-type: none;"> 
            <b>Kirjat</b>
            <!--books - parametri tulee map.put("books") -> voidaan käyttää kirjojen kenttien arvoja niiden esittelemiseen tällä sivulla-->
            <li th:each="book: ${books}">
                <span th:text="${book.author}"></span>
                <span th:text="${book.title}"></span>
            </li>
        </ul>
        <br/>
        <form method="POST" action="/">
            Author:<br/>
            <input type="text" name="author"/><br/>
            Title:<br/>
            <input type="text" name="title"/><br/>
            ISBN:<br/>
            <input type="text" name="isbn"/><br/><br/>
            <input type="submit" value="Lisää kirja"/>
        </form>

    </body>
</html>